
.jfx-combo.box {
    -fx-text-fill: red;
}
.jfx-combo-box .label {

	-fx-text-fill: red;
}

.combo-box {
    -fx-background-color: #4d4d4d;
}

.combo-box .text-field {
    -fx-prompt-text-fill: rgba(255, 255, 0, 0.5);
}
.combo-box .text-field: focused {
    -fx-prompt-text-fill: black;
}